* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 30px;
  font-size: 30px;
}
#password {
  margin-bottom: 30px;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}
h3 {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
p span {
  color: aqua;
  text-transform: uppercase;
}
